* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body, html {
  height: 100%;
}

.container {
  display: flex;
  height: 100vh;
}

.left {
  flex: 1;
}

.left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  margin-top: 20vh;
}

.form-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 350px;
}

h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

h2 {
  font-size: 16px;
  color: #777;
  margin-bottom: 10px;
}

form {
  width: 100%;
  max-width: 350px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #333;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.options label {
  display: flex;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
}

.options input[type="checkbox"] {
  margin: 0;
}

.options a {
  color: #007bff;
  text-decoration: none;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background-color: #04c35c;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
}

.google-btn {
  width: 100%;
  padding: 12px;
  background-color: #2d3748;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.google-btn img {
  width: 20px;
  margin-right: 10px;
}

p {
  margin-top: 60px;
  
}

a {
  color: #007bff;
  text-decoration: none;
}

@media (max-width: 720px) {
  .container {
    flex-direction: column;
  }

  .left {
    height: 0%;
  }

  .right {
    height: 100%;
    padding: 20px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 16px;
  }

  input, .login-btn, .google-btn {
    padding: 10px;
    font-size: 14px;
  }

  .options a {
    font-size: 12px;
  }

  p {
    font-size: 12px;
  }
}

